/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-size: auto;
  background-repeat: no-repeat;
  color: #FFD700;
  background-color: black;
}

.alkpote {
  background-image: url(asset-path('alkpote.png'));
}

.bigflo-oli {
  background-image: url(asset-path('bigflo-oli.png'));
}

.orelsan {
  background-size: 100%;
  background-image: url(asset-path('orelsan.png'));
}

.content {
  text-align: center;
  width: 100%;
}

.title {
  margin-top: 40px;
  font-size: 30px
}

.lyrics {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

.link {
  margin-top: 100px;
}

.next {
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}


a {
  color: white;
  text-decoration: initial;
  font-size: small;
}
